* {
  text-decoration: none;
  list-style: none;
}

header {
  width: 100%;
}

body {
  background-color: #222;
  font-family: sans-serif;
}

.nav {
  position: fixed;
  height: 800px;
  overflow: hidden;
  top: -350px;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.menubar {
  width: 900px;
  height: 300px;
  margin-top: 300px;
  position: absolute;
  left: 49%;
  transform: translate(-50%, -50%);
}

.jfla {
  position: absolute;
  left: 48%;
  width: 200px;
  height: 100px;
  margin: -25px 0 0 -50px;
}

.jfla a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 70px;
}

.mainmenu1 {
  position: absolute;
}

.mainmenu2 {
  position: absolute;
  margin-left: 10px;
  right: 0px;
}

.mainmenu1 a, .mainmenu2 a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  font-size: 40px;
}

.btn {
  display: none;
  position: absolute;
  z-index: 2;
  top:400px;
}

.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #fff;
}

@media screen and (max-width: 1080px) {
  .menubar {
    overflow: visible;
    z-index: 1;
  }

  .mainmenu1 {
    width: 100%;
    right: 0;
    top: 70px;
    background: #222222b8;
    overflow: hidden;
    max-height: 0;
  }

  .mainmenu1 a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .mainmenu2 {
    width: 100%;
    right: 0;
    top: 218px;
    background: #222222b8;
    overflow: hidden;
    max-height: 0;
  }

  .mainmenu2 a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }

  .btn {
    display: block;
    cursor: pointer;
    left: 2%;
  }

  .show {
    max-height: 800px;
  }
}

.s1 {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -8px -8px -10px -8px;
  color: #fff;
  text-align: center;
}
.maindiv {
  position: relative;
  max-width: 600px;
  height: 100%;
  left:50%;
  transform:translate(-60%);
}
.content{
  position: absolute;
  top: 180px;;
}


.album h1{
  font-size: 70px;
  padding-bottom: 20px;
  border-bottom: solid 5px #fff;
}

p{
  font-size: 21px;
  line-height: 35px;
  font-family: 'Sunflower', sans-serif;
}

#instagram{
  max-width: 720px;
}
#instagram img{
  max-width: 720px;
}

.picbox{
  width: 720px;
  height: 480px;
  border: 2px solid #fff;
}
